<template>
  <div style="width:100%;height:2rem;background-color:#f5f5f5;position:fixed;bottom:0;border-top:1px solid #b9b9b9">
    <small style="margin-left:.5rem; color:#5f5f5f">version 1.2.0</small>
  </div>
</template>