<template>
	<b-navbar toggleable="lg" type="light" variant="light" fixed="top" class="shadow-sm">
		<b-navbar-brand href="#" to="/"><img src="../assets/rg-logo.png" alt="Ruang Guru - logo" class="rg-logo mx-3"></b-navbar-brand>
		<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
		<b-collapse id="nav-collapse" is-nav>
			<b-navbar-nav class="ml-auto">
				<b-nav-item href="#" active-class="active" to="/" exact>Home</b-nav-item>
				<b-nav-item href="#" active-class="active" to="/performance">Agent Performance</b-nav-item>
				<b-nav-item href="#" active-class="active" to="/history">Chat History</b-nav-item>
				<b-nav-item href="#" active-class="active" v-if="this.isAdmin == 'true'" to="/chat">Chat</b-nav-item>
				<b-nav-item href="#" active-class="active" v-if="this.isAdmin == 'true'" to="/misc">Misc. Data</b-nav-item>
				<b-nav-item href="#" disabled>|</b-nav-item>
				<b-nav-item href="#" active-class="active" to="/messages">Messages</b-nav-item>
				<b-nav-item href="#" active-class="active" v-if="this.isAdmin == 'true'" to="/tags_notes">Tags & Notes</b-nav-item>
				<b-nav-item href="#" active-class="active" to="/feedback">Feedback</b-nav-item>
				<b-nav-item href="#" disabled>|</b-nav-item>
				<b-nav-item href="#" @click.prevent="logout">
					<svg version="1.1" class="logout" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
						<path d="M255.15,468.625H63.787c-11.737,0-21.262-9.526-21.262-21.262V64.638c0-11.737,9.526-21.262,21.262-21.262H255.15 c11.758,0,21.262-9.504,21.262-21.262S266.908,0.85,255.15,0.85H63.787C28.619,0.85,0,29.47,0,64.638v382.724 c0,35.168,28.619,63.787,63.787,63.787H255.15c11.758,0,21.262-9.504,21.262-21.262 C276.412,478.129,266.908,468.625,255.15,468.625z"/>
						<path d="M505.664,240.861L376.388,113.286c-8.335-8.25-21.815-8.143-30.065,0.213s-8.165,21.815,0.213,30.065l92.385,91.173 H191.362c-11.758,0-21.262,9.504-21.262,21.262c0,11.758,9.504,21.263,21.262,21.263h247.559l-92.385,91.173 c-8.377,8.25-8.441,21.709-0.213,30.065c4.167,4.21,9.653,6.336,15.139,6.336c5.401,0,10.801-2.041,14.926-6.124l129.276-127.575 c4.04-3.997,6.336-9.441,6.336-15.139C512,250.302,509.725,244.88,505.664,240.861z"/>
					</svg>
					Logout
				</b-nav-item>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
</template>

<style>
	.rg-logo {
		width: 4.78rem;
		height: auto;
	}
	.bg-light {
		background-color: #fff !important
	}
	.nav-link {
		font-weight: 600;
		transition: all .15s ease-in-out;
		padding: 0.5rem 1rem !important;
	}
	.nav-link:hover {
		color: #27b6c1 !important;
	}
	.nav-link.active {
		color: #27b6dd !important;
	}
	.logout {
		margin-right: .25rem;
		width: 15px;
		transition: all .15s ease-in-out;
		fill: rgba(0, 0, 0, 0.5)
	}
	.nav-link:hover .logout {
		fill: #27b6c1
	}

	.nav-link.active .logout {
		fill: #27b6c1
	}
</style>

<script>
export default {
	data() {
		return { isAdmin: 'true' }
	},
	created() {
		this.checkIsAdmin();
	},
	methods: {
		checkIsAdmin() {
			if (process.browser) {
				this.isAdmin = localStorage.getItem('isAdmin')
			}
		},
		logout() {
			localStorage.clear()
			window.location.href = '/'
		}
	},
}
</script>