#chat-history {
  display: flex;
  display: -ms-flexbox;
}
#chat-history .side-nav {
  width: 356px;
  border-right: 1px solid #dee2e6;
}
#chat-history .side-nav .search {
  height: 60px;
  padding: 0.7rem 0.5rem;
}
#chat-history .side-nav .room-list {
  height: calc(100vh - 68px - 2rem - 60px);
  overflow-y: auto;
}
#chat-history .side-nav .room-list .loader {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  padding: 0.5rem 0;
}
#chat-history .side-nav .room-list .loader span {
  display: flex;
  display: -ms-flexbox;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-animation: spin 0.9s ease-in-out infinite;
  animation: spin 0.9s ease-in-out infinite;
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-top-color: #27b6c1;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
#chat-history .side-nav .room-list .room {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  cursor: pointer;
  color: #555555;
  position: relative;
  transition: all 0.15s ease-in-out;
}
#chat-history .side-nav .room-list .room:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
#chat-history .side-nav .room-list .room.active {
  background-color: rgba(0, 0, 0, 0.05);
}
#chat-history .side-nav .room-list .room .badge {
  display: block !important;
  height: 20px;
  width: 20px;
  background: transparent;
  margin-right: 8px;
  margin-left: 20px;
  flex: 0 20px;
  background-size: 20px;
}
#chat-history .side-nav .room-list .room .content {
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-bottom: 1px solid #f4f4f4;
}
#chat-history .side-nav .room-list .room .content .avatar {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  background-color: #dedede;
  background-repeat: no-repeat;
  background-position: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
#chat-history .side-nav .room-list .room .content .detail {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 6px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  max-width: 150px;
}
#chat-history .side-nav .room-list .room .content .detail .title {
  display: flex;
  display: -ms-flexbox;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 170px;
  line-height: 22px;
}
#chat-history .side-nav .room-list .room .content .detail .title span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-transform: capitalize;
  max-width: 106px;
}
#chat-history .side-nav .room-list .room .content .detail .message {
  display: block;
  color: #8c8c8c;
  line-height: 21px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
}
#chat-history .side-nav .room-list .room .content .detail .message img {
  margin-right: 8px;
  width: 15px;
  -webkit-transform: scale(0.65) translateY(5px);
  -ms-transform: scale(0.65) translateY(5px);
  transform: scale(0.65) translateY(5px);
  -ms-flex-item-align: start;
  align-self: flex-start;
}
#chat-history .side-nav .room-list .room .content .info {
  -webkit-box-flex: 0;
  -ms-flex: 0 100px;
  flex: 0 100px;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: right;
}
#chat-history .side-nav .room-list .room .content .info span {
  color: rgba(0, 0, 0, 0.45);
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 6px;
  width: 95px;
}
#chat-history .chat-area {
  width: calc(100% - 356px);
}
#chat-history .chat-area .blank {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #27b6c1;
}
#chat-history .chat-area .header {
  display: flex;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  padding: 13px 16px;
  border-bottom: 0.5px solid #e8e8e8;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 4rem;
  flex: 0 0 4rem;
  border-radius: 0;
  color: #444;
  text-shadow: none;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}
#chat-history .chat-area .header .avatar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
}
#chat-history .chat-area .header .avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 4px;
}
#chat-history .chat-area .header .info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #666;
  margin-left: 16px;
  line-height: 18px;
}
#chat-history .chat-area .header .info .name {
  text-transform: capitalize;
  max-width: 240px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 600;
}
#chat-history .chat-area .header .info .participants {
  font-size: 13px;
  max-width: 185px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#chat-history .chat-area .header .actions {
  -webkit-box-flex: 0;
  -ms-flex: 0 270px;
  flex: 0 270px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
}
#chat-history .chat-area .header .actions a {
  flex: 1;
  text-decoration: none;
  justify-content: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border: 1px solid #27b6c1;
  border-radius: 0.75rem;
  margin-right: 12px;
  margin-left: 12px;
  padding: 2px 16px;
  color: #27b6c1;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  transition: all 0.15s ease-in-out;
}
#chat-history .chat-area .header .actions a:hover {
  background-color: #27b6c1;
  color: #fff;
}
#chat-history .chat-area .messages {
  padding: 1rem;
  height: calc(100vh - 68px - 2rem - 60px);
  overflow-y: auto;
}
#chat-history .chat-area .messages .loader {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#chat-history .chat-area .messages .loader .shape {
  padding: 0.5rem 0;
}
#chat-history .chat-area .messages .loader .shape span {
  display: flex;
  display: -ms-flexbox;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-animation: spin 0.9s ease-in-out infinite;
  animation: spin 0.9s ease-in-out infinite;
  border: 5px solid rgba(0, 0, 0, 0.15);
  border-top-color: #27b6c1;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
#chat-history .chat-area .messages .load-more {
  display: flex;
  display: -ms-flexbox;
}
#chat-history .chat-area .messages .load-more .btn {
  color: #27b6c1;
  border: 1px solid #27b6c1;
  margin: 0 auto 0.75rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#chat-history .chat-area .messages .load-more .btn:hover {
  background-color: #27b6c1;
  color: #fff;
}
#chat-history .chat-area .messages .message {
  width: 100%;
  margin-bottom: 0.25rem;
}
#chat-history .chat-area .messages .message .date {
  display: block;
  padding: 0.25rem 0.5rem;
  background: #eee;
  font-size: 0.8rem;
  margin: 0 auto 0.5rem;
  text-align: center;
  width: 6rem;
  border-radius: 1rem;
  border: 1px solid #dee2e6;
}
#chat-history .chat-area .messages .message .content {
  display: flex;
  display: -ms-flexbox;
}
#chat-history .chat-area .messages .message .content .info .status {
  width: 1rem;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  fill: var(--gray);
  float: right;
}
#chat-history .chat-area .messages .message .content .info .status.read {
  fill: #23a2ac;
}
#chat-history .chat-area .messages .message .content .info .status.sent {
  width: 0.8rem;
}
#chat-history .chat-area .messages .message .content .info .time {
  display: block;
  font-size: 0.8rem;
  color: var(--gray);
  margin-bottom: 0;
}
#chat-history .chat-area .messages .message .content .avatar {
  width: 40px;
  border-radius: 50%;
}
#chat-history .chat-area .messages .message .content section {
  min-width: 15%;
  max-width: 65%;
}
#chat-history .chat-area .messages .message .content section .username {
  width: 100%;
  font-size: 0.8rem;
  color: var(--gray);
  margin-bottom: 0;
}
#chat-history .chat-area .messages .message .content section .text {
  font-size: 0.9rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f8f9fa;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
#chat-history .chat-area .messages .message .content section .text .attachment {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
}
#chat-history .chat-area .messages .message .content section .text .attachment img,
#chat-history .chat-area .messages .message .content section .text .attachment video {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}
#chat-history .chat-area .messages .message .content section .text .attachment audio {
  width: 100%;
}
#chat-history .chat-area .messages .message .content section .text .attachment .file {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0.25rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
}
#chat-history .chat-area .messages .message .content section .text .attachment .file > svg {
  min-width: 2.5rem;
  height: 2.5rem;
}
#chat-history .chat-area .messages .message .content section .text .attachment .file label {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: calc(100% - 5rem);
  margin-left: 0.25rem;
  line-height: 1rem;
  margin-bottom: 0;
}
#chat-history .chat-area .messages .message .content section .text .attachment .file a {
  margin-left: auto;
}
#chat-history .chat-area .messages .message .content section .text .attachment .file a svg {
  width: 2rem;
  fill: rgba(0, 0, 0, 0.8);
  transition: all 0.15s ease-in-out;
}
#chat-history .chat-area .messages .message .content section .text .attachment .file a svg:hover {
  fill: #000;
}
#chat-history .chat-area .messages .message:not(.system).first .content .info .time {
  margin-top: 1.75rem;
}
#chat-history .chat-area .messages .message:not(.system).first .content section .text {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
#chat-history .chat-area .messages .message:not(.system):not(.first).left .content section {
  margin-left: calc(40px + 0.75rem);
}
#chat-history .chat-area .messages .message:not(.system):not(.first):not(.left) .content section {
  margin-right: calc(40px + 0.75rem);
}
#chat-history .chat-area .messages .message:not(.system).last .content section .text {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
#chat-history .chat-area .messages .message:not(.system).left .content .info .time {
  margin-left: 0.5rem;
}
#chat-history .chat-area .messages .message:not(.system).left .content .avatar {
  margin-right: 0.75rem;
}
#chat-history .chat-area .messages .message:not(.system):not(.left) .content {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#chat-history .chat-area .messages .message:not(.system):not(.left) .content .info .time {
  margin-right: 0.5rem;
}
#chat-history .chat-area .messages .message:not(.system):not(.left) .content .avatar {
  margin-left: 0.75rem;
}
#chat-history .chat-area .messages .message:not(.system):not(.left) .content section .username {
  text-align: right;
}
#chat-history .chat-area .messages .message:not(.system):not(.left) .content section .text {
  background-color: #aceaee;
  border-color: #6dd9e1;
}
#chat-history .chat-area .messages .message:not(.system):not(.left):not(.my-msg) .content section .text {
  background-color: #42ced9;
  border-color: #27b6c1;
}
#chat-history .chat-area .messages .message:not(.system).attachment .content section {
  width: 17.5rem;
}
#chat-history .chat-area .messages .message:not(.system).isCard .content section {
  width: 13rem;
}
#chat-history .chat-area .messages .message:not(.system).isCard .content section .text {
  padding: 0;
  background-color: var(--light);
  border-color: #dee2e6;
}
#chat-history .chat-area .messages .message:not(.system).isCard .content section .text .img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: auto;
  height: 10rem;
  background-color: transparent;
  background-position: center;
  background-size: cover;
}
#chat-history .chat-area .messages .message:not(.system).isCard .content section .text div strong {
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem;
  display: block;
  color: #444;
}
#chat-history .chat-area .messages .message:not(.system).isCard .content section .text div label {
  white-space: pre-wrap;
  padding: 0 0.5rem;
  font-size: 0.75rem;
}
#chat-history .chat-area .messages .message:not(.system).isCard .content section .text div .action {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
  border-top: 1px solid #dee2e6;
  padding: 0.25rem 0;
}
#chat-history .chat-area .messages .message:not(.system).isCard .content section .text div .action button {
  color: #666;
  font-weight: 600;
  font-size: 0.8rem;
}
#chat-history .chat-area .messages .message:not(.system).isCard .content section .text div .action button:hover {
  text-decoration: none;
  color: #1e8e97;
}
#chat-history .chat-area .messages .message:not(.system).isCard .content section .text div .action button:focus,
#chat-history .chat-area .messages .message:not(.system).isCard .content section .text div .action button:visited {
  text-decoration: none;
}
#chat-history .chat-area .messages .message.system .content {
  justify-content: center;
  -ms-flex-pack: center;
}
#chat-history .chat-area .messages .message.system .content section .text {
  box-shadow: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}
#chat-history .chat-area.room-active {
  width: calc(100% - 656px);
}
#chat-history .room-info {
  display: none;
  width: 300px;
  border-left: 1px solid #dee2e6;
}
#chat-history .room-info.active {
  display: block;
}
#chat-history .room-info header {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}
#chat-history .room-info header span {
  color: #979797;
  font-size: 2.25rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#chat-history .room-info header span:hover {
  color: #27b6c1;
}
#chat-history .room-info header h5 {
  color: #555;
  margin: 0;
  font-size: 1rem;
}
