@main: #27b6c1;

.flex() {
    display: flex;
    display: -ms-flexbox
}
.align-center() {
    -ms-flex-align: center;
    align-items: center;
}
.align-stretch() {
    -ms-flex-align: stretch;
    align-items: stretch;
}
.justify-start() {
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.justify-center() {
    justify-content: center;
    -ms-flex-pack: center;
}
.justify-end() {
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.spin(){
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    } to {
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
    }
}
#chat-history {
    .flex();

    .side-nav {
        width: 356px;
        border-right: 1px solid #dee2e6;

        .search {
            height: 60px;
            padding: .7rem .5rem;
        }

        .room-list {
            height: calc(100vh - 68px - 2rem - 60px);
            overflow-y: auto;

            .loader {
                .flex();
                .align-center();
                .justify-center();
                padding: .5rem 0;

                span {
                    .flex();
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    -webkit-animation: spin 0.9s ease-in-out infinite;
                    animation: spin 0.9s ease-in-out infinite;
                    border: 3px solid rgba(0, 0, 0, 0.15);
                    border-top-color: @main;
                    
                    @keyframes spin { .spin() }
                    @-webkit-keyframes spin { .spin() }
                }
            }

            .room {
                .flex();
                .align-center();
                .justify-start();
                cursor: pointer;
                color: #555555;
                position: relative;
                transition: all .15s ease-in-out;

                &:hover { background-color: rgba(0,0,0,0.025) }
                &.active { background-color: rgba(0,0,0,0.05) }

                .badge {
                    display: block !important;
                    height: 20px;
                    width: 20px;
                    background: transparent;
                    margin-right: 8px;
                    margin-left: 20px;
                    flex: 0 20px;
                    background-size: 20px;

                    // &.badge_fb {
                    //     background: url('../assets/messenger_flag_chat_list.svg') no-repeat center;
                    // }
                    // &.badge_line {
                    //     background: url('../assets/line_flag_chat_list.svg') no-repeat center;
                    //     background-size: 20px;
                    // }
                    // &.badge_qiscus {
                    //     background: url('../assets/qiscus_flag_chat_list.svg') no-repeat center;
                    //     background-size: 20px;
                    // }
                    // &.badge_telegram {
                    //     background: url('../assets/telegram_flag_chat_list.svg') no-repeat center;
                    //     background-size: 20px;
                    // }
                    // &.badge_wa, .badge.badge_wabox {
                    //     background: url('../assets/whatsapp_flag_chat_list.svg') no-repeat center;
                    //     background-size: 20px;
                    // }
                    // &.badge_custom {
                    //     background: url('../assets/custom_channel_badge.svg') no-repeat center;
                    //     background-size: 20px;
                    // }
                }

                .content {
                    .flex();
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    .align-stretch();
                    .justify-end();
                    border-bottom: 1px solid #f4f4f4;
                    // max-width: 300px;

                    .avatar {
                        width: 40px;
                        height: 40px;
                        background-size: cover;
                        border-radius: 50%;
                        background-color: #dedede;
                        background-repeat: no-repeat;
                        background-position: center;
                        -ms-flex-item-align: center;
                        -ms-grid-row-align: center;
                        align-self: center;
                    }

                    .detail {
                        -webkit-box-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        padding-right: 6px;
                        padding-left: 10px;
                        font-size: 14px;
                        font-weight: 500;
                        max-width: 150px;
                        
                        .title {
                            .flex();
                            -webkit-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                            flex-direction: row;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            max-width: 170px;
                            line-height: 22px;

                            span {
                                display: block;
                                .ellipsis();
                                text-transform: capitalize;
                                max-width: 106px;
                            }
                        }

                        .message {
                            display: block;
                            color: #8c8c8c;
                            line-height: 21px;
                            width: auto;
                            .ellipsis();
                            .flex();
                            .align-center();
                            font-weight: 400;

                            img {
                                margin-right: 8px;
                                width: 15px;
                                -webkit-transform: scale(0.65) translateY(5px);
                                -ms-transform: scale(0.65) translateY(5px);
                                transform: scale(0.65) translateY(5px);
                                -ms-flex-item-align: start;
                                align-self: flex-start;
                            }
                        }
                    }

                    .info {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 100px;
                        flex: 0 100px;
                        .flex();
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        font-size: 14px;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        .justify-end();
                        .align-center();
                        margin-right: 10px;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        text-align: right;

                        span {
                            color: rgba(0, 0, 0, 0.45);
                            font-weight: normal;
                            font-size: 12px;
                            margin-bottom: 6px;
                            width: 95px;
                        }
                    }
                }
            }
        }
    }

    .chat-area {
        width: calc(100% - 356px);

        .blank {
            .flex();
            .justify-center();
            .align-center();
            width: 100%;
            height: 100%;
            background-color: white;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            color: @main;
        }

        .header {
            .flex();
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            .align-center();
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            height: 60px;
            padding: 13px 16px;
            border-bottom: .5px solid #e8e8e8;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 4rem;
            flex: 0 0 4rem;
            border-radius: 0;
            color: #444;
            text-shadow: none;
            -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 2px 0 rgba(0, 0, 0, .05);

            .avatar {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 48px;
                flex: 0 0 48px;

                img {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    margin-top: 4px;
                }
            }

            .info {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                color: #666;
                margin-left: 16px;
                line-height: 18px;

                .name {
                    text-transform: capitalize;
                    max-width: 240px;
                    .ellipsis();
                    font-size: 15px;
                    font-weight: 600;
                }

                .participants {
                    font-size: 13px;
                    max-width: 185px;
                    .ellipsis();
                }
            }

            .actions {
                -webkit-box-flex: 0;
                -ms-flex: 0 270px;
                flex: 0 270px;
                margin: 0;
                font-size: 14px;
                font-weight: 500;
                .justify-end();
                .flex();
                .align-center();

                a {
                    flex: 1;
                    text-decoration: none;
                    .justify-center();
                    .align-center();
                    .flex();
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                    border: 1px solid @main;
                    border-radius: .75rem;
                    margin-right: 12px;
                    margin-left: 12px;
                    padding: 2px 16px;
                    color: @main;
                    -webkit-box-flex: 0;
                    -ms-flex-positive: 0;
                    flex-grow: 0;
                    transition: all .15s ease-in-out;

                    &:hover {
                        background-color: @main;
                        color: #fff;
                    }
                }
            }
        }

        .messages {
            padding: 1rem;
            height: calc(100vh - 68px - 2rem - 60px);
            overflow-y: auto;

            .loader {
                .flex();
                .justify-center();
                .align-center();
                width: 100%;
                height: 100%;

                .shape {
                    padding: .5rem 0;

                    span {
                        .flex();
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        -webkit-animation: spin 0.9s ease-in-out infinite;
                        animation: spin 0.9s ease-in-out infinite;
                        border: 5px solid rgba(0, 0, 0, 0.15);
                        border-top-color: @main;
                        
                        @keyframes spin { .spin() }
                        @-webkit-keyframes spin { .spin() }
                    }
                }
            }

            .load-more {
                .flex();

                .btn {
                    color: @main;
                    border: 1px solid @main;
                    margin: 0 auto .75rem;
                    padding: .25rem .75rem;
                    font-size: .8rem;
                    border-radius: 1rem;
                    -webkit-transition: all .15s ease-in-out;
                    transition: all .15s ease-in-out;

                    &:hover {
                        background-color: @main;
                        color: #fff
                    }
                }
            }

            .message {
                width: 100%;
                margin-bottom: .25rem;

                .date {
                    display: block;
                    padding: .25rem .5rem;
                    background: #eee;
                    font-size: .8rem;
                    margin: 0 auto .5rem;
                    text-align: center;
                    width: 6rem;
                    border-radius: 1rem;
                    border: 1px solid #dee2e6;
                }

                .content {
                    .flex();
                    
                    .info {
                        .status {
                            width: 1rem;
                            margin-top: .25rem;
                            margin-right: .5rem;
                            fill: var(--gray);
                            float: right;

                            &.read {
                                fill: darken(@main, 5%)
                            }

                            &.sent {
                                width: .8rem
                            }
                        }

                        .time {
                            display: block;
                            font-size: .8rem;
                            color: var(--gray);
                            margin-bottom: 0;
                        }
                    }
                    
                    .avatar {
                        width: 40px;
                        border-radius: 50%;
                    }

                    section {
                        min-width: 15%;
                        max-width: 65%;

                        .username {
                            width: 100%;
                            font-size: .8rem;
                            color: var(--gray);
                            margin-bottom: 0;
                        }
                        
                        .text {
                            font-size: .9rem;
                            word-wrap: break-word;
                            white-space: pre-wrap;
                            background-color: #f8f9fa;
                            padding: .5rem;
                            border: 1px solid #dee2e6;
                            box-shadow: 0 0.2rem 0.25rem rgba(0,0,0,.15);
                            border-radius: .25rem;

                            .attachment {
                                display: block;
                                width: 100%;
                                height: auto;
                                line-height: 0;

                                img, video {
                                    width: 100%;
                                    height: auto;
                                    border-radius: 0.25rem;
                                }

                                audio { width: 100%; }

                                .file {
                                    .flex();
                                    .align-center();
                                    padding: .5rem;
                                    padding-left: .25rem;
                                    background-color: rgba(0, 0, 0, .05);
                                    border-radius: .25rem;
                                    // cursor: pointer;

                                    & > svg {
                                        min-width: 2.5rem;
                                        height: 2.5rem;
                                    }
    
                                    label {
                                        .ellipsis();
                                        width: calc(100% - 5rem);
                                        margin-left: .25rem;
                                        line-height: 1rem;
                                        margin-bottom: 0;
                                    }

                                    a {
                                        margin-left: auto;

                                        svg {
                                            width: 2rem;
                                            fill: rgba(0, 0, 0, 0.8);
                                            transition: all .15s ease-in-out;

                                            &:hover {
                                                fill: #000;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:not(.system) {
                    &.first {
                        .content {
                            .info {
                                .time { margin-top: 1.75rem }
                            }
                        }
    
                        .content {
                            section {
                                .text {
                                    border-top-left-radius: .5rem;
                                    border-top-right-radius: .5rem;
                                }
                            }
                        }
                    }
    
                    &:not(.first) {
                        &.left {
                            .content {
                                section { margin-left: calc(40px + .75rem)}
                            }
                        }
    
                        &:not(.left) {
                            .content {
                                section { margin-right: calc(40px + .75rem)}
                            }
                        }
                    }
    
                    &.last {
                        .content {
                            section {
                                .text {
                                    border-bottom-left-radius: .5rem;
                                    border-bottom-right-radius: .5rem;
                                }
                            }
                        }
                    }
    
                    &.left {
                        .content {
                            .info {
                                .time {
                                    margin-left: .5rem
                                }
                            }
    
                            .avatar {
                                margin-right: .75rem;
                            }
                        }
                    }
    
                    &:not(.left) {
                        .content {
                            .justify-end();
    
                            .info {
                                .time {
                                    margin-right: .5rem
                                }
                            }
    
                            .avatar {
                                margin-left: .75rem;
                            }

                            section {
                                .username {
                                    text-align: right;
                                }

                                .text {
                                    background-color: lighten(@main, 35%);
                                    border-color: lighten(@main, 20%);
                                }
                            }
                        }

                        &:not(.my-msg) {
                            .content {
                                section {
                                    .text {
                                        background-color: darken(lighten(@main, 30%), 20%);
                                        border-color: darken(lighten(@main, 20%), 20%);
                                    }
                                }
                            }
                        }
                    }

                    &.attachment {
                        .content {
                            section {
                                width: 17.5rem;
                            }
                        }
                    }

                    &.isCard {
                        .content {
                            section {
                                width: 13rem;
                                .text {
                                    padding: 0;
                                    background-color: var(--light);
                                    border-color: #dee2e6;

                                    .img {
                                        border-top-left-radius: inherit;
                                        border-top-right-radius: inherit;
                                        width: auto;
                                        height: 10rem;
                                        background-color: transparent;
                                        background-position: center;
                                        background-size: cover;
                                    }

                                    div {
                                        strong {
                                            text-transform: capitalize;
                                            font-size: .8rem;
                                            font-weight: 600;
                                            padding: .5rem;
                                            display: block;
                                            color: #444;
                                        }

                                        label {
                                            white-space: pre-wrap;
                                            padding: 0 .5rem;
                                            font-size: .75rem
                                        }

                                        .action {
                                            .flex();
                                            .justify-center();
                                            border-top: 1px solid #dee2e6;
                                            padding: .25rem 0;

                                            button {
                                                color: #666;
                                                font-weight: 600;
                                                font-size: .8rem;

                                                &:hover {
                                                    text-decoration: none;
                                                    color: darken(@main, 10%)
                                                }

                                                &:focus, &:visited { text-decoration: none }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.system {
                    .content {
                        .justify-center();
                        
                        section {
                            .text {
                                box-shadow: none;
                                border-radius: .5rem;
                                padding: .5rem .75rem;
                            }
                        }
                    }
                }
            }
        }

        &.room-active { width: calc(100% - 656px) }
    }

    .room-info {
        display: none;
        width: 300px;
        border-left: 1px solid #dee2e6;

        &.active { display: block }

        header {
            .flex();
            .align-center();
            height: 60px;

            span {
                color: #979797;
                font-size: 2.25rem;
                margin: 0 1rem;
                cursor: pointer;
                transition: all .1s ease-in-out;

                &:hover {
                    color: @main
                }
            }

            h5 {
                color: #555;
                margin: 0;
                font-size: 1rem;
            }
        }
    }
}