<template>
  <div>
    <Navbar/>
    <section id="content">
      <nuxt/>
    </section>
    <Footer/>
  </div>
</template>

<style>
  * {
    font-family: 'Inter', sans-serif;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #fafafa;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #fafafa;
  }

  ::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    background-color: #e8e8e8;
  }

  #content #chat-history, #content iframe {
    height:calc(100vh - 68px - 2rem);
    margin-top:68px;
    overflow: auto;
  }
</style>>

</style>
<script>
import Navbar from '~/components/Navbar'
import Footer from '~/components/Footer.vue'

export default {
  created() {
    
  },

  middleware: 'auth',

  components: {
    Navbar,
    Footer
  }
}
</script>