<template>
  <div>
    <section>
      <iframe frameborder="0" width="100%" src="https://metabase.qiscus.com/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjgwfSwicGFyYW1zIjp7ImFwcF9jb2RlIjoidW1wLWprczB4aWVxaXZzOHVhc2Z1In0sImlhdCI6MTU3NDEzMTI4MiwiX2VtYmVkZGluZ19wYXJhbXMiOnsiZGF0ZV9maWx0ZXIiOiJlbmFibGVkIiwiYXBwX2NvZGUiOiJsb2NrZWQifX0.iuYAjH7NxKd0wem4PdnreTy8Mci49YujnHE-rwWuZ80?date_filter=past7days~#bordered&titled">
      </iframe>
    </section>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Ruang Guru - Chat'
  },
  layout: 'dashboard'
}
</script>