<template>
  <div>
    <section>
      <iframe frameborder="0" width="100%" src="https://metabase.qiscus.com/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjY5fSwicGFyYW1zIjp7fSwiaWF0IjoxNTcyMjU2MjgwLCJfZW1iZWRkaW5nX3BhcmFtcyI6eyJkYXRlIjoiZW5hYmxlZCJ9fQ.POo4AwlepV8PRHKcS_rIDOjVhRpLgxnKXGNtkl7uQmw#bordered=true&titled=true">
      </iframe>
    </section>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Ruang Guru - Feedback'
  },
  layout: 'dashboard'
}
</script>