<template>
    <div id="chat-history">
        <nav class="side-nav">
            <div class="search border-bottom">
                <input type="text" class="form-control" placeholder="Search room" v-model="roomSearch">
            </div>
            <section class="room-list" v-infinite-scroll="loadMoreRoom" infinite-scroll-disabled="onRoomLoad" infinite-scroll-distance="250">
                <div v-if="roomSearch == ''">
                    <div v-for="room in rooms" :key="room.room_id" class="room" :class="{'active': roomActive.room_id == room.room_id}" @click="goToRoom(room)">
                        <div class="badge" :style="{backgroundImage: getBadge(room)}"></div>
                        <div class="content">
                            <img :src="room.room_avatar_url" class="avatar">
                            <div class="detail">
                                <div class="title">
                                    <span v-html="sanitize(room.room_name)"></span>
                                </div>
                                <div class="message">
                                    <!-- <img v-if="isReply(room)" src="../assets/reply.svg" /> -->
                                    <!-- <span class="text-truncate" v-html="getLastMessage(room.last_comment)"></span> -->
                                    <span class="text-truncate" v-html="sanitize(room.last_comment_message)"></span>
                                </div>
                            </div>
                            <div class="info">
                                <span v-html="getTime(room.last_comment_timestamp) + ', ' + getLocaleTime(room.last_comment_timestamp)"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div v-for="room in roomsSearch" :key="room.room_id" class="room" :class="{'active': roomActive.room_id == room.room_id}" @click="goToRoom(room, true)">
                        <div class="badge" :style="{backgroundImage: getBadge(room)}"></div>
                        <div class="content">
                            <img :src="room.user_avatar_url" class="avatar">
                            <div class="detail">
                                <div class="title">
                                    <span v-html="sanitize(room.name)"></span>
                                </div>
                                <!-- <div class="message">
                                    <img v-if="isReply(room)" src="../assets/reply.svg" />
                                    <span class="text-truncate" v-html="getLastMessage(room.last_comment)"></span>
                                    <span class="text-truncate" v-html="sanitize(room.last_comment_message)"></span>
                                </div> -->
                            </div>
                            <div class="info">
                                <span v-html="getTime(room.created_at) + ', ' + getLocaleTime(room.created_at)"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="isRoomLoad" class="loader"><span></span></div>
            </section>
        </nav>
        <section class="chat-area">
            <div v-if="roomActive == ''" class="blank">
                <img src="../assets/empty_room.svg"/>
                <p>Please select any room</p>
            </div>
            <section v-else>
                <div class="header">
                    <div class="avatar">
                        <img :src="roomActive.room_avatar_url">
                    </div>
                    <div class="info">
                        <div class="name">{{roomActive.room_name}}</div>
                        <!-- <div class="participants" v-html="getParticipants(this.roomActive)"></div> -->
                    </div>
                    <!-- <div class="actions">
                        <a href="javascript:void(0)" @click="toggleRoomInfo()">Info</a>
                    </div> -->
                </div>
                <div class="messages" :class="{'flex': isMessageLoad}">
                    <div v-if="isMessageLoad" class="loader"><div class="shape"><span></span></div></div>
                    <div v-if="!isMessageLoad && messages.length == 0" class="text-muted">Sorry but there is nothing to see here.</div>
                    <div v-else>
                        <div v-if="hasLoadMore" class="load-more" @click="loadMoreMsg()"><button class="btn">Load more</button></div>
                        <div v-for="(msg, i) in messages" :key="msg.id" :class="getMsgClasses(msg, i)">
                            <span v-if="showMsgDate(msg.timestamp, i)" class="date">{{getTime(msg.timestamp)}}</span>
                            <div class="content">
                                <span v-if="!isSystemEvent(msg)">
                                    <span v-if="!isTargetMsg(msg)" class="info" v-html="getMsgInfo(msg)"></span>
                                    <img  v-if="isTargetMsg(msg) && isFirstMsg(msg, i)" :src="msg.room_avatar" class="avatar">
                                </span>
                                <section>
                                    <label v-if="isFirstMsg(msg, i) && !isSystemEvent(msg)" class="username" v-html="getMsgUsername(msg)"></label>
                                    <div class="text" v-html="getMsg(msg)"></div>
                                </section>
                                <span v-if="!isSystemEvent(msg)">
                                    <span v-if="isTargetMsg(msg)" class="info" v-html="getMsgInfo(msg)"></span>
                                    <img v-if="!isTargetMsg(msg) && isFirstMsg(msg, i)" :src="msg.avatar" class="avatar">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="room-info">
            <header>
                <span>&times;</span>
                <h5>Chat & Customer Info</h5>
            </header>
            <div class="body">
                <section class="user">
                    <div class="avatar" :style="{ 'background-image': 'url(' + roomActive.room_avatar_url + '), url(https://d1edrlpyc25xu0.cloudfront.net/kiwari-prod/image/upload/wMWsDZP6ta/1516689726-ic_qiscus_client.png)' }"></div>
                    <div class="info">
                        <h5 v-html="sanitize(roomActive.room_name)"></h5>
                        <label v-html="getRoomEmail()"></label>
                        <!-- <label v-html="getRoomChannel(roomActive.options)"></label> -->
                    </div>
                </section>
            </div>
        </section>
    </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import infiniteScroll from 'vue-infinite-scroll'
import $ from 'jquery'
import QiscusSDK from 'qiscus-sdk-core'
import '../assets/history.css'
import { getTime } from 'date-fns'
var qiscus = new QiscusSDK()
export default {
    head: {
        title: 'Ruang Guru - Chat History'
    },
    layout: 'dashboard',
    directives: {infiniteScroll},
	data() {
		return {
            auth: "",
            user: "",
            isLogin: false,
            onRoomLoad: true,
            isRoomLoad: false,
            roomPage: "",
            maxRoomLoad: 15,
            roomSearch: "",
            roomSearchList: [],
            roomList: [],
            roomActive: "",
            hasLoadMore: false,
            messages: [],
            messagesPage: "",
            isMessageLoad: false
        }
    },
    computed: {
        rooms() {
            if (!this.roomSearch) {
                if (this.roomList != null) {
                    this.onRoomLoad = false
                    return this.roomList
                }
            }
        },
        roomsSearch() {
            if (this.roomSearch) {
                this.onRoomLoad = true
                this.isRoomLoad = true
                let url = process.env.baseUrlAPI
                axios.get(url+'api/v1/search-rooms?q='+this.roomSearch).then(res => {
                    this.isRoomLoad = false
                    this.roomSearchList = res.data.data
                }).catch(err => alert(err))
                if (this.roomSearchList != null) return this.roomSearchList
            }
        }
    },
    mounted: function() {
        qiscus.init({AppId: process.env.appId})
        if (process.browser) {
            let baseUrl = process.env.baseUrl
            let appId = process.env.appId
            this.auth = JSON.parse(localStorage.getItem('auth'))
            let d = this.auth
            qiscus.getNonce().then(resNonce => {
                const data = {
                    app_id: appId,
                    nonce: resNonce.nonce,
                    email: d.details.sdk_user.email,
                    name: d.details.sdk_user.display_name
                }
                axios.post(baseUrl+'auth/get_identity_token', data, {headers: {'Authorization': d.user.authentication_token}}).then(resToken => {
                    const identityToken = resToken.data.data.identity_token
                    qiscus.verifyIdentityToken(identityToken).then(resVerify => {
                        qiscus.setUserWithIdentityToken(resVerify)
                        this.user = qiscus.userData
                        this.init()
                    }).catch(err => {this.$toast.error('Error while verifying token')})
                }).catch(err => {this.$toast.error('Error while getting nonce')})
            })
        }
    },
	created() {
	},
	methods: {
		init: function() {
            this.isLogin = true
            this.isRoomLoad = true
            let url = process.env.baseUrlAPI
            axios.get(url+'api/v1/rooms?page=1&limit='+this.maxRoomLoad).then(res => {
                this.isRoomLoad = false
                this.roomPage = 1
                this.roomList = res.data.data
                if (res.data.data.length == this.maxRoomLoad) this.onRoomLoad = false
            }).catch(err => alert(err))
        },
        getBadge: function(room) {
            if (room.room_badge) {
                return 'url("'+room.room_badge+'")'
            } else {
                if (room.source) {
                    return this.getChannelBadge(room.source)
                } else {
                    if (room.room_options.room_badge) {
                        return 'url("'+room.room_options.room_badge+'")'
                    } else {
                        return this.getChannelBadge(room.room_options.channel)
                    }
                }
            }
        },
        getChannelBadge: function(channel) {
            let badge
            if (channel == 'fb') badge = '/messenger_flag_chat_list.svg'
            else if (channel == 'line') badge = '/line_flag_chat_list.svg'
            else if (channel == 'qiscus') badge = '/qiscus_flag_chat_list.svg'
            else if (channel == 'telegram') badge = '/telegram_flag_chat_list.svg'
            else if (channel == 'wa' || channel == 'wabox') badge = '/whatsapp_flag_chat_list.svg'
            else badge = '/custom_channel_badge.svg'

            return 'url("'+badge+'")'
        },
        sanitize: function(text) {
            if(!text) return '';
            text = text.replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return text;
        },
        // getLastMessage: function(msg) {
        //     var regSticker = /^\[sticker\]\b(?:https):\/\/[a-z0-9-+&@#\/%?=~_|!:,.;]*[a-z0-9-+&@#\/%=~_|][\s]\[\/sticker\]/i;
        //     if (msg.type == 'buttons') {
        //         return "send buttons";
        //     }
        //     if (msg.type == 'carousel') {
        //         return "send carousels";
        //     }
        //     if(!msg.message) return '';
        //     if (msg.message.match(regSticker)){
        //         return "send sticker";
        //     }
        //     if (msg.message.includes("[file]")){
        //         return "upload file";
        //     }
        //     if (msg.message == ""){
        //         return "send message";
        //     }else{
        //         msg = msg.message.replace(/</g, '&lt;').replace(/>/g, '&gt;')
        //         return msg;
        //     }
        // },
        // isReply: function(room) {
        //     var roomName = room.last_comment.room_name.toLowerCase();
        //     var senderName = "";
        //     if (room.last_comment.username){
        //         senderName = room.last_comment.username.toLowerCase();
        //     } else if (room.name){
        //         senderName = room.name.toLowerCase();
        //     }

        //     if (senderName != roomName && senderName != 'system') return true;

        //     return false;
        // },
        getTime: function(targettime) {
            let date = new Date(targettime);
            let currentDate = new Date()
            let timeDiff = date - currentDate
            let diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24))
            let diffYears = currentDate.getFullYear() - date.getFullYear()
            let isToday = (currentDate.getDate() == date.getDate()) && (currentDate.getFullYear() == date.getFullYear()) && (currentDate.getMonth() == date.getMonth())
            let isYesterDay = (diffYears === 0 && diffDays >= -1)
            if(isToday) date = "Today";
            else if(isYesterDay) date = "Yesterday";
            else date = this.getLocaleDate(targettime);
            return date;
        },
        getLocaleDate: function(time) {
            let date = new Date(time)
            date = date.toLocaleString('en-US', { hour12: false });
            if (!date) return '';
            date = moment(time).format('DD/MM/YY');
            return date;
        },
        getLocaleTime: function(time) {
            var date = new Date(time);
                    date = date.toLocaleTimeString('en-US', { hour12: false });
                    if (!date) return '';
                    return date.substr(0,5);
        },
        loadMoreRoom: function() {
            if (this.isLogin) {
                this.roomPage += 1
                this.onRoomLoad = true
                this.isRoomLoad = true

                let url = process.env.baseUrlAPI
                axios.get(url+'api/v1/rooms?page='+this.roomPage+'&limit='+this.maxRoomLoad).then(res => {
                    this.isRoomLoad = false
                    if (res.data.data.length == this.maxRoomLoad) this.onRoomLoad = false
                    res.data.data.forEach(data => {
                        this.roomList.push(data)
                    })
                }).catch(err => {this.$toast.error("Failed to load room list")})
                // let params = {
                //     page: this.roomPage,
                //     limit: this.maxRoomLoad
                // }
                // qiscus.loadRoomList(params).then(res => {
                //     this.isRoomLoad = false
                //     if (res.length == this.maxRoomLoad) this.onRoomLoad = false
                //     res.forEach(data => {
                //         this.roomList.push(data)
                //     })
                // }).catch(err => {this.$toast.error("Failed to load room list")})
            }
        },
        goToRoom: function(room, fromSearch=false) {
            if (fromSearch) {
                this.roomActive = {
                    room_id: room.room_id,
                    room_name: room.name,
                    room_avatar_url: room.user_avatar_url
                }
            } else this.roomActive = room

            this.isMessageLoad = true
            this.messages = []
            this.hasLoadMore = false
            let url = process.env.baseUrlAPI
            axios.get(url+'api/v1/comments?room_id='+room.room_id+'&page=1&limit=20').then(res => {
                this.isMessageLoad = false
                let msg = res.data.data
                this.storeMessages(msg)
                this.messagesPage = 1
                if (msg.length == 20) this.hasLoadMore = true
            }).catch(err => alert(err))
            // qiscus.getRoomById(room.id).then(res => {
            //     this.roomInfo = true
            //     this.messages = res.comments
            //     this.hasLoadMore = this.messages.length == 20 ? true : false

            //     let baseUrl = process.env.baseUrl
            //     let token = this.auth.user.authentication_token
            //     axios.get(baseUrl+'qiscus/room/'+room.id+'/user_info', {headers: {'Authorization': token}}).then(info => {
            //         console.log(info.data.data.extras)
            //     }).catch(err => {this.$toast.error('Error while getting room info')})
            // })
            // .catch(err => {this.$toast.error('Error while getting room')})
        },
        storeMessages: function(msg) {
            let newMessages = this.messages
            for (let i = 0; i < msg.length; i++) {
                newMessages.unshift(msg[i])
            }
            this.messages = newMessages
        },
        // getParticipants: function(room) {
        //     let user = ""
        //     room.participants.forEach((data, i) => {
        //         if (this.user.username != data.username) {
        //             if (user != "") user += ', '
        //             user += this.sanitize(data.username)
        //         }
        //     })
        //     return user
        // },
        isFirstMsg: function(msg, i) {
            let comments = this.messages
            if (i != 0) {
                if (comments[i-1].username != comments[i].username || this.getTime(comments[i-1].timestamp) != this.getTime(comments[i].timestamp)) return true
                return false
            }
            else return true
        },
        isMyMsg: function(msg) {
            if (msg.username == this.user.username) return true
            return false
        },
        isTargetMsg: function(msg) {
            if (msg.username == this.roomActive.room_name) return true
            return false
        },
        isSystemEvent: function(msg) {
            if (msg.username == 'System') return true
            return false
        },
        getMsgClasses: function(msg, i) {
            let classes = "message"
            let comments = this.messages
            if (this.isMyMsg(msg)) classes += " my-msg"
            if (this.isTargetMsg(msg)) classes += " left"
            if (this.isSystemEvent(msg)) classes += " system"
            if (msg.type == 'file_attachment') classes += " attachment"
            if (msg.type == 'card') classes += " isCard"
            if (this.isFirstMsg(msg, i)) classes += ' first'
            if (i < comments.length - 1) {
                if (comments[i+1].username != comments[i].username || this.getTime(comments[i+1].timestamp) != this.getTime(comments[i].timestamp)) classes += ' last mb-3'
            }
            if (i === comments.length - 1) classes += ' last'
            return classes
        },
        showMsgDate: function(time, i) {
            if (i != 0) {
                if (this.getTime(this.messages[i-1].timestamp) != this.getTime(time)) return true
                return false
            } else return true
        },
        getMsgInfo: function(msg) {
            let info = "<label class='time'>" + this.getLocaleTime(msg.timestamp) +"</label>"
            if (this.isMyMsg(msg)) {
                if (msg.status == 'read') {
                    info += "<svg viewBox='0 0 16 9' class='status read'><path d='M 6.77422 6.27328L 6.08575 5.47144L 5.37432 6.23204L 6.06866 7.02799L 6.77422 6.27328Z'/><path d='M 5.37432 7.77099L 4.37334 8.84207C 4.17193 9.05767 3.83453 9.05172 3.64019 8.82916L 0.135063 4.81161C -0.0634234 4.60454 -0.0404742 4.2898 0.186332 4.10861C 0.413139 3.92748 0.757621 3.94841 0.956108 4.15549L 4.00005 7.70129L 4.67974 6.97472L 5.37432 7.77099Z'/><path d='M 6.78081 4.72832L 7.46905 5.52985L 11.878 0.812304C 12.0679 0.598776 12.0323 0.285033 11.7986 0.111553C 11.5648 -0.0619265 11.2212 -0.0295244 11.0313 0.184066L 6.78081 4.72832Z'/><path fill-rule='evenodd' d='M 15.7985 0.111549C 16.0323 0.285046 16.0678 0.598796 15.8779 0.812329L 8.37336 8.84207C 8.17187 9.05766 7.83437 9.05172 7.6402 8.82917L 4.13497 4.8116C 3.93659 4.60454 3.95957 4.28982 4.18628 4.10864C 4.41299 3.92746 4.75759 3.94845 4.95596 4.1555L 8 7.7013L 15.0312 0.184044C 15.2212 -0.0294899 15.5647 -0.0619468 15.7985 0.111549Z'/></svg>"
                }
                if (msg.status == 'delivered') {
                    info += "<svg viewBox='0 0 16 9' class='status'><path d='M 6.77422 6.27328L 6.08575 5.47144L 5.37432 6.23204L 6.06866 7.02799L 6.77422 6.27328Z'/><path d='M 5.37432 7.77099L 4.37334 8.84207C 4.17193 9.05767 3.83453 9.05172 3.64019 8.82916L 0.135063 4.81161C -0.0634234 4.60454 -0.0404742 4.2898 0.186332 4.10861C 0.413139 3.92748 0.757621 3.94841 0.956108 4.15549L 4.00005 7.70129L 4.67974 6.97472L 5.37432 7.77099Z'/><path d='M 6.78081 4.72832L 7.46905 5.52985L 11.878 0.812304C 12.0679 0.598776 12.0323 0.285033 11.7986 0.111553C 11.5648 -0.0619265 11.2212 -0.0295244 11.0313 0.184066L 6.78081 4.72832Z'/><path fill-rule='evenodd' d='M 15.7985 0.111549C 16.0323 0.285046 16.0678 0.598796 15.8779 0.812329L 8.37336 8.84207C 8.17187 9.05766 7.83437 9.05172 7.6402 8.82917L 4.13497 4.8116C 3.93659 4.60454 3.95957 4.28982 4.18628 4.10864C 4.41299 3.92746 4.75759 3.94845 4.95596 4.1555L 8 7.7013L 15.0312 0.184044C 15.2212 -0.0294899 15.5647 -0.0619468 15.7985 0.111549Z'/></svg>"
                }
                if (msg.status == 'sent') {
                    info += "<svg viewBox='0 0 12 9' class='status sent'><path fill-rule='evenodd' d='M 11.7985 0.111549C 12.0323 0.285046 12.0678 0.598796 11.8779 0.812329L 4.37336 8.84207C 4.17187 9.05766 3.83437 9.05172 3.6402 8.82917L 0.134965 4.8116C -0.0634062 4.60454 -0.0404331 4.28982 0.186277 4.10864C 0.412988 3.92746 0.757585 3.94845 0.955956 4.1555L 4 7.7013L 11.0312 0.184044C 11.2212 -0.0294899 11.5647 -0.0619468 11.7985 0.111549Z'/></svg>"
                }
            }

            return info
        },
        getMsgUsername: function(msg) {
            if (this.isMyMsg(msg)) {
                return "You"
            } else {
                return this.sanitize(msg.username)
            }
        },
        getMsg: function(msg) {
            let message
            let payload = msg.payload
            if (msg.type == 'text' || msg.type == 'system_event') {
                message = msg.message
                if (msg.type == 'system_event') message = this.sanitize(message)
            }

            if (msg.type == 'file_attachment') {
                let isImg = payload.file_name.match(/\.(jpeg|jpg|gif|png|webp)$/) ? true : false
                let isVideo = payload.file_name.match(/\.(mp4|webm|mov)$/) ? true : false
                let isAudio = payload.file_name.match(/\.(mp3|wav)$/) ? true : false
                let attachment
                let hasCaption = payload.caption == "" ? "" : " mb-2"

                if (isImg) {
                    attachment = "<img src='"+ payload.url +"' alt='"+ payload.file_name +"' />"
                } else if (isVideo) {
                    attachment = "<video controls><source src='"+payload.url+"'>Your browser does not support the video tag.</video>"
                } else if (isAudio) {
                    attachment = "<audio controls><source src='"+payload.url+"'>Your browser does not support the audio tag. </audio>"
                } else {
                    attachment = '<div class="file"><svg viewBox="0 0 60 60"><path d="M42.5,22h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,22,42.5,22z"/><path d="M17.5,16h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S16.948,16,17.5,16z"/><path d="M42.5,30h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,30,42.5,30z"/><path d="M42.5,38h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,38,42.5,38z"/><path d="M42.5,46h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,46,42.5,46z"/><path d="M38.914,0H6.5v60h47V14.586L38.914,0z M39.5,3.414L50.086,14H39.5V3.414z M8.5,58V2h29v14h14v42H8.5z"/></svg><label title="'+payload.file_name+'">'+payload.file_name+'</label><a href="'+payload.url+'" title="Download"><svg viewBox="0 0 490.4 490.4"><path d="M490.4,245.2C490.4,110,380.4,0,245.2,0S0,110,0,245.2s110,245.2,245.2,245.2S490.4,380.4,490.4,245.2z M24.5,245.2 c0-121.7,99-220.7,220.7-220.7s220.7,99,220.7,220.7s-99,220.7-220.7,220.7S24.5,366.9,24.5,245.2z"/><path d="M253.9,360.4l68.9-68.9c4.8-4.8,4.8-12.5,0-17.3s-12.5-4.8-17.3,0l-48,48V138.7c0-6.8-5.5-12.3-12.3-12.3 s-12.3,5.5-12.3,12.3v183.4l-48-48c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l68.9,68.9c2.4,2.4,5.5,3.6,8.7,3.6 S251.5,362.8,253.9,360.4z"/></svg></a></div>'
                }

                message = "<span class='attachment"+ hasCaption +"'>\
                            "+ attachment +"\
                        </span>"+payload.caption
            }

            if (msg.type == 'card') {
                let buttons = ""
                for (let i = 0; i < payload.buttons.length; i++) {
                    buttons += '<button class="btn btn-link" onclick=\'alert("Sorry this action is disabled here, please go to multichannel dashboard instead.")\'>'+payload.buttons[i].label+'</button>'
                }
                message = '<div class="img" style=\'background-image: url("'+payload.image+'")\'></div><div><strong>'+payload.title+'</strong><label>'+payload.description+'</label><div class="action">'+buttons+'</div></div>'
            }
            return message
        },
        loadMoreMsg: function() {
            // var roomId = this.roomActive.room_id
            // var lastElPos = $('.messages div .message:first').position().top
			// var lastChatId = this.messages[0].id
            // var options = {last_comment_id: lastChatId, limit: 20}
            // qiscus.loadComments(roomId, options).then((msg) => {
			// 	let i = this.messages.findIndex(chat => chat.id === lastChatId) + 1
            //     var curPos = $('.messages div .message:nth-child('+i+')').position().top - lastElPos
            //     $('.messages').scrollTop(curPos)

            //     if (msg.length != 20) {
			// 		this.hasLoadMore = false
            //     }
            // }).catch((err) => {
            //     alert(err)
            //     console.log(err)
            // })
            let url = process.env.baseUrlAPI
            let page = this.messagesPage+1
            axios.get(url+'api/v1/comments?room_id='+this.roomActive.room_id+'&page='+page+'&limit=20').then(res => {
                this.messagesPage += 1
                this.storeMessages(res.data.data)
                this.hasLoadMore = res.data.data.length == 20 ? true : false
            }).catch(err => alert(err))
        },
        toggleRoomInfo: function() {
            if ($('.room-info').hasClass('active')) {
                $('.chat-area').removeClass('room-active')
                $('.room-info').removeClass('active')
            } else {
                $('.chat-area').addClass('room-active')
                $('.room-info').addClass('active')
            }
        },
        getRoomEmail: function() {
            let room = this.roomActive
            let users = room.participants
            if (users) {
                for (let i = 0; i < users.length; i++) {
                    if (users[i].username == room.name) return users[i].email
                }
            }
        },
        getRoomChannel: function(opt) {
            if (!opt) return;
            var op = JSON.parse(opt);
            if (op.channel != undefined){
                return this.parseChannel(op.channel)
            } else {
                return "Qiscus Widget"
            }
        },
        parseChannel: function(source) {
            switch (source) {
                case 'fb': return 'Facebook';
                case 'line': return 'Line';
                case 'wabox','wa': return 'WhatsApp';
                case 'telegram': return 'Telegram';
                case 'qiscus': return 'Qiscus Widget';
                default: return 'Custom Channel';
            }
        },
	},
}
</script>