<template>
  <div>
    <iframe frameborder="0" width="100%" src="https://metabase.qiscus.com/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjYzfSwicGFyYW1zIjp7ImFwcF9jb2RlIjoidW1wLWprczB4aWVxaXZzOHVhc2Z1In0sImlhdCI6MTU3MDU5NDU2MCwiX2VtYmVkZGluZ19wYXJhbXMiOnsiYXBwX2NvZGUiOiJsb2NrZWQifX0.YXZat48GuyP7A8TleirtuXHPoeeLhbC0J64dNnaAUZE#bordered&titled">
    </iframe>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Monitoring System - Ruang Guru'
  },
  layout: 'dashboard'
}
</script>