<template>
 <section class="container">
     <div>
       <img src="../assets/rg-logo.png" alt="Ruang Guru - logo" class="logo-img">
       <b-form>
         <b-form-group class="mb-2" label="Username" label-for="username">
           <b-form-input id="username" v-model="email" type="email" placeholder="Enter admin username" required></b-form-input>
         </b-form-group>
         <b-form-group class="mb-2" label="Password" label-for="pw">
           <b-form-input id="pw" v-model="password" type="password" placeholder="Enter admin password"> </b-form-input>
         </b-form-group>
         <b-form-checkbox class="mb-3" id="isAdmin">Login as Admin</b-form-checkbox>
         <b-button-group size="sm">
            <b-button @click="login" variant="outline-info">Login</b-button>
          </b-button-group>
      </b-form>
    </div>
  </section>
</template>
<script>
import axios from 'axios'
import QiscusSDK from 'qiscus-sdk-core'
var qiscus = new QiscusSDK()
export default {
  head: {
    title: 'Login'
  },
  data() {
    return {
      email:'',
      password:''
    }
  },
  mounted: () => {
    qiscus.init({AppId: process.env.appId})
  },
  watch: {},
  components: {},
  methods: {
    async login() {
      let baseUrl = process.env.baseUrl
      let appId = process.env.appId
      let isAdmin = document.getElementById('isAdmin').checked
      let url = isAdmin ? baseUrl+'auth' : baseUrl+appId+'/agent_auth'
      axios.post(url,
        {
          email: this.email,
          password: this.password
        }
      )
      .then(res => {
        let d = res.data.data
        let code = d.details.app.app_code
        if (code === appId) {
          qiscus.getNonce().then(resNonce => {
            const data = {
              app_id: appId,
              nonce: resNonce.nonce,
              email: d.details.sdk_user.email,
              name: d.details.sdk_user.display_name
            }
            axios.post(baseUrl+'auth/get_identity_token', data, {headers: {'Authorization': d.user.authentication_token}}).then(resToken => {
              const identityToken = resToken.data.data.identity_token
              qiscus.verifyIdentityToken(identityToken).then(resVerify => {
                qiscus.setUserWithIdentityToken(resVerify)
								localStorage.setItem('auth', JSON.stringify(d))
								localStorage.setItem('token', d.user.authentication_token)
								localStorage.setItem('isAdmin', isAdmin)
                window.location.href = '/'
              }).catch(err => {this.$toast.error('Error while verifying token')})
            }).catch(err => {this.$toast.error('Error while getting identity token')})
          }).catch(err => {this.$toast.error('Error while getting nonce')})
        } else { this.$toast.error("Seems like you trying to login with non Ruang Guru account") }
      }).catch(err => {this.$toast.error('Error while authenticating')})
    }
  } 
}
</script>
<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-img {
  width: 10rem;
  height: auto;
  margin-bottom: 1rem;
}
</style>