<template>
  <div>
    <section>
      <iframe frameborder="0" width="100%" src="https://metabase.qiscus.com/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjY1fSwicGFyYW1zIjp7ImFwcF9jb2RlIjoidW1wLWprczB4aWVxaXZzOHVhc2Z1In0sImlhdCI6MTU3MDU5NDczNCwiX2VtYmVkZGluZ19wYXJhbXMiOnsiYXBwX2NvZGUiOiJsb2NrZWQifX0.szNA52NtLKg7NgWcg3O_fl2h9LN0w1cqqfIySUAs_u8#bordered=true&titled=true">
      </iframe>
    </section>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Ruang Guru - Messages'
  },
  layout: 'dashboard'
}
</script>