<template>
  <div>
    <section>
      <iframe frameborder="0" width="100%" src="https://metabase.qiscus.com/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjc5fSwicGFyYW1zIjp7fSwiaWF0IjoxNTczODExMDQ5LCJfZW1iZWRkaW5nX3BhcmFtcyI6eyJkYXRlX2ZpbHRlciI6ImVuYWJsZWQifX0.6TSYChtCr7oN8MDz0ztya5vURax0Gg9uKg1oS0RpyBU#bordered=true&titled=true">
      </iframe>
    </section>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Ruang Guru - Misc. Data'
  },
  layout: 'dashboard'
}
</script>