<template>
  <div>
    <section>
      <iframe frameborder="0" width="100%"  src="https://metabase.qiscus.com/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjY0fSwicGFyYW1zIjp7ImFwcF9jb2RlIjoidW1wLWprczB4aWVxaXZzOHVhc2Z1In0sImlhdCI6MTU3MDU5NDQ5MiwiX2VtYmVkZGluZ19wYXJhbXMiOnsiYXBwX2NvZGUiOiJsb2NrZWQifX0.jYVuBTSUaOaGWOfC3btwZd4wvVEd7RGMozluWnfhArs#bordered=true&titled=true">
      </iframe>
    </section>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Ruang Guru - Agent Performance'
  },
  layout: 'dashboard'
}
</script>