<template>
  <div>
    <section>
      <iframe frameborder="0" width="100%" src="https://metabase.qiscus.com/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjc4fSwicGFyYW1zIjp7fSwiaWF0IjoxNTczODExMTg1LCJfZW1iZWRkaW5nX3BhcmFtcyI6eyJjb252ZXJzYXRpb25faWQiOiJlbmFibGVkIiwiYWdlbnRfbmFtZSI6ImVuYWJsZWQiLCJjdXN0b21lcl9uYW1lIjoiZW5hYmxlZCIsImRhdGVfcmFuZ2UiOiJlbmFibGVkIn19.RSZ6d6xzggRZsjov9of3Yr8cVFdRBT2pDrOYI5W_imI#bordered=true&titled=true">
      </iframe>
    </section>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Ruang Guru - Tags & Notes'
  },
  layout: 'dashboard'
}
</script>